jobs:
  rubocop:
    docker:
      - image: ruby:2.5.3
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-
      - run:
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle
          name: bundle install
      - save_cache:
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
      - run:
          command: bundle exec rubocop
          name: rubocop
version: 2
workflows:
  version: 2
  test:
    jobs:
      - rubocop
